@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200&family=Quicksand:wght@300;400&display=swap');

$logo-font: 'Quicksand', sans-serif;
$body-font: 'Lato', sans-serif;

$eagle-green: #0f5257ff;
$gunmetal: #0b3142ff;
$heliotrope-gray: #9c92a3ff;
$languid-lavender: #c6b9cdff;
$lavender: #d6d3f0ff;

$mauvelous: #ff9fb2ff;
$piggy-pink: #fbdce2ff;
$vivid-sky-blue: #0acdffff;
$green-sheen: #60ab9aff;
$gainsboro: #dedee0ff;



$french-lilac: #8d5a97ff;
$mountbatten-pink: #907f9fff;
$silver-metallic: #a4a5aeff;
$opal: #b0c7bdff;
$magic-mint: #b8ebd0ff;