@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200&family=Quicksand:wght@300;400&display=swap');

$logo-font: 'Quicksand', sans-serif;
$body-font: 'Lato', sans-serif;

$mountbatten-pink: #907f9fff;
$heliotrope-gray: #B1A6B2ff;
$languid-lavender: #c6b9cdff;
$gainsboro: #dedee0ff;
$slate-gray: #778294ff;
$beau-blue: #c9f2f3;
$magic-mint: rgb(142, 224, 180);