@import './_variables.scss';
@import './_login.scss';
@import './_header.scss';

main {
  background: $languid-lavender;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: $body-font;
}

footer {
  padding-bottom: 1em;
  padding-left: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $logo-font;
}

h4 {
  margin-block-end: .5em;
  background: $magic-mint;
  padding: .5em;
}
h5 {
  margin-block-start: .5em;
  margin-block-end: 1em;
}

p {
  margin-block-start: 0em;
  margin-block-end: .5em;
}

button {
  border-radius: .5em;
  padding: .25em;
}

button:hover {
  background-color: $heliotrope-gray;
}


// traveler welcome

.traveler-welcome {
  display: flex;
  justify-content: center;
}

// dashboard

.traveler-dashboard {
  margin: 1.5em;
}

// TRIP REQUEST
.trip-request-interaction {
  background: $gainsboro;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.new-trip-buttons {
  background: $gainsboro;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

// TRIP CARDS
.traveler-trip-cards {
  background: $slate-gray;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.traveler-trip-card {
  background: $beau-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0rem;
}

.trip-card-image {
  height: 170px;
  width: 80%;
}
.hidden {
  display: none;
}